/* Color pallete was provided by https://www.colorhexa.com/00c3ff */

/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 24px;
  background-color: #c4f1ff;
  color: #001e27;
}

h1,
h2,h3 {
  margin: 15px;
}

main {
  padding-top: 60px;
}

li {
  display: inline;
  padding: 0px 36px;
  text-decoration: none;
}

.head-button {
  border: 5px solid #1e87b8;
  background: #2098D1;
}

a {
  /* We don't really want these links to be underlined since they're in the header */
  text-decoration: none;
  color: whitesmoke;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #00c3ff;
}

header {
  /* We're required to make the header fixed/persist on scroll */
  position: fixed;
  border-bottom: 10px solid #0044ff;
}

footer {
  position: absolute;
  /* margin-top: 0;
  bottom: 0; */
  border-bottom: 10px solid #00ffbc;
  color: #c4f1ff;    
}

figure {
  margin-bottom: 40px;
}

img {
  /* Want different style between whole of figure and the actual image */
  display: block;
  margin: 20px auto;
  height: 400px ;
  width: 400px;
}

section {
  /* Lets give each section a cool little top border line */
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #76dfff;
  background-color:  #b1edff;
}

#about-me {
  background-color: #c4f1ff;
  padding: 4%;
}

#good-quote {
  /* This is for the aside */
  padding-left: 5%;
  margin-left: 5%;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

#good-quote > p {
  margin: 8px;
}

form {
  /* This is to center the form on the page and give it a small, curved area*/
  margin: 0 auto;
  width: 600px;
  padding: 10px;
  border: 5px solid #4ed5ff;
  border-radius: 20px;
}

label {
  /* We want "name" and "email" to be next to the input fields, not above or below */
  display: inline-block;
  width: 160px;
}
  
input {
  box-sizing: border-box;
  width: 240px;
  border: 1px solid #006989;
}

button {
  height: 50px;
  width: 160px;
  background-color: #005a76;
  color: #001e27;
  font-size: large;
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.send-button {
  border-top: none;
  padding: 1%;
}

/* Interactive Effeects */
.card {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  margin-top: 6px;
  border: 6px solid #1e87b8;
  box-shadow: 2px 4px #7c7a94;
  position: relative;
  background: #2098D1;
  transition-property: color;
  transition-duration: 0.3s;
}
.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.card:hover, .card:focus, .card:active {
  color: white;
}
.card:hover:before, .card:focus:before, .card:active:before {
  transform: scale(0);
}