/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #c4f1ff;
  color: #001e27;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #c4f1ff;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #00c3ff;
}

header {
  position: fixed;
  border-bottom: 10px solid #0044ff;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #00ffbc;
  color: #c4f1ff;    
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
  height: 400px ;
  width: 400px;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #76dfff;
  background-color:  #b1edff;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #4ed5ff;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #006989;
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
button {
  height: 40px;
  width: 120px;
  background-color: #005a76;
  color: #001e27;
}
 
/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Added Interactive Effeects */
.card {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  margin-top: 4px;
  border: 5px solid #1e87b8;
  box-shadow: 2px 4px #7c7a94;
  position: relative;
  background: #2098D1;
  transition-property: color;
  transition-duration: 0.3s;
}
.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.card:hover, .card:focus, .card:active {
  color: white;
}
.card:hover:before, .card:focus:before, .card:active:before {
  transform: scale(0);
}